package views

import sqlc "tp3-web/db/sqlc"

templ EntrenamientosPage(entrenamientos []sqlc.Entrenamiento,idUsuario int) {
    @Layout("GoRun - Entrenamientos") {
        <div class="contenedor-entrenamiento">
                @Sidebar()
            <div class="contenido">
                <h1>Entrenamientos</h1>

                @EntrenamientosForm(idUsuario)
                @EntrenamientosList(entrenamientos,idUsuario)
            </div>
        </div>
    }
}