package views

templ Layout(title string) {
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <title>{ title }</title>
        <link rel="stylesheet" href="/static/css/colors.css"/>
        <link rel="stylesheet" href="/static/css/login.css"/>
        <link rel="stylesheet" href="/static/css/styles.css"/>
    </head>
    <body>
        { children... }
    </body>
    </html>
}