package views

templ LoginPage() {
    @Layout("GoRun - Login") {
        <div class="container-login">
            <div class="container-inicio-login">
                <h1>Bienvenido</h1>
                @LoginForm()
            </div>

            <div class="container-img-login">

            </div>
        </div>
    }
}