package views

templ Sidebar() {
<div class="barra-lateral">
    <h1>GoRun</h1>
    <nav>
        <menu>
            <li><a href="#" class="seleccionado">Dashboard</a></li>
            <li><a href="#">Actividad</a></li>
            <li><a href="#">Desafios</a></li>
            <li><a href="#">Cerrar Sesión</a></li>
        </menu>
    </nav>
</div>
}